<form class="search-form">
  <mat-form-field appearance="fill">
    <input
      type="text"
      class="search-input"
      matInput
      placeholder="Enter stock"
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchTextChange()"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option.symbol }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
