@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "Poppins", sans-serif;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
